/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark body {
  background-color: #000000;
  color: #ffffff;
}

.cursor {
  position: fixed;
  z-index: 9999;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid aqua;
  background-color: rgb(122, 203, 203);
  opacity: 0.5;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242735;
}

.loading-spinner {
  size: 80px;
}


/* .bg-hero-image {
  background-image: url("/assets/coding.webm");
  background-size: cover;
  background-position: center;
  animation: mymove 5s infinite;
} */

/* .video-background {
  background: url("/assets/coding.webm");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
} */
/* 
.bg-about-image {
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-position: center;
} */

/* .bg-expertise-image {
  background-image: url("/assets/bg-exp.png");
  background-size: cover;
  background-position: center;
} */
